@model Pedidos
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Pedidos";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Catalogos" asp-action="Index">Catalogos</a></li>
        <li class="breadcrumb-item"><a asp-controller="Pedidos" asp-action="Index">Pedidos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nueva</li>
    </ol>
</nav>

<section id="nuevoPedidos">
    <form method="post" asp-controller="Pedidos" asp-action="Add">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="descripcion" class=" control-label"></label>
            <input asp-for="descripcion" class="form-control" />
            <span asp-validation-for="descripcion" class="text-danger"></span>
        </div>
       
            <label asp-for="UsuarioID" class=" control-label"></label>
            <select asp-for="UsuarioID" asp-items="ViewBag.usuarioID" class=" form-control"></select>
            <span asp-validation-for="UsuarioID" class="text-danger"></span>

            <div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </div>
    </form>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
