<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ECOCÉANO </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!----Font Awesome-->
    <link rel="stylesheet" href="~/css/all.css" />

</head>
<body>
    <!---Inicia Panel Admin-->
    <nav class=" navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Administración</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
                data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class=" navbar-toggler-icon"></span>
        </button>
        <input class=" form-control form-control-dark w-100" type="text" placeholder="Buscar" aria-label="Search" />
        <ul class=" navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class=" nav-link" href="#">Buscar</a>
            </li>
        </ul>
    </nav>
    <br />
    <div class="container-fluid">
        <div class=" row">
            <nav id="sidebarmenu" class="col-md-3 col-lg-2 d-md-block sider collapse bg-info">
                <div class="sidebar-sticky pt-3">
                    <!----Menu-->
                    <ul class="nav flex-column">
                        <!----OPCION 1-->
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Home" asp-action="Index">
                                <!----Icono fontawesone-->
                                <span style="font-size: 18px; color: lightgray" ;>
                                    <!----- <i class=" fas fa-landmark"></i>---->
                                    <!---Fin de icono-->
                                </span>
                                Dashboard
                            </a>
                        </li>
                        <!----OPCION 2-->
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Categorias" asp-action="Index">
                                <!----Icono fontawesone-->
                                <span style="font-size: 18px; color: lightgray" ;>
                                    <!---- <i class=" fas fa-address-book"></i>---->
                                    <!---Fin de icono-->
                                </span>
                                Categorías
                            </a>
                        </li>
                        <!----OPCION 3-->
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Home" asp-action="Login">
                                <!----Icono fontawesone-->
                                <span style="font-size: 18px; color: lightgray" ;>
                                    <!---- <i class=" fas fa-users"></i>------->
                                    <!---Fin de icono-->
                                </span>
                                Usuarios
                            </a>
                        </li>
                        <!----OPCION 5-->
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Productos" asp-action="Index">
                                <!----Icono fontawesone-->
                                <span style="font-size: 18px; color: lightgray" ;>
                                    <!----  <i class="fa-thin fa-basket-shopping"></i>---->
                                    <!---Fin de icono-->
                                </span>
                                Productos
                            </a>
                        </li>
                        <!----OPCION 5-->
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Pedidos" asp-action="Index">
                                <!----Icono fontawesone-->
                                <span style="font-size: 18px; color: lightgray" ;>
                                    <!----<i class="fa-thin fa-calendar-lines-pen"></i>--->
                                    <!---Fin de icono-->
                                </span>
                                Pedidos
                            </a>
                        </li>
                        <!----OPCION 5-->
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Ventas" asp-action="Index">
                                <!----Icono fontawesone-->
                                <span style="font-size: 18px; color: lightgray" ;>
                                    <!----<i class=" fas fa-product-hunt"></i>---->
                                    <!---Fin de icono-->
                                </span>
                                Ventas
                            </a>
                        </li>
                      
                   
                    </ul>
                </div>
            </nav>
            <!----Termina barra lateral-->
            <div class="container col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
            <!----Pie-->
            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; TECNO IERF 2022 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
        </div>
    </div>
    <!----Termina Panel Admin-->


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!---Se agrego el script .js Font Awesome-->
    <script src="~/js/all.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

