@page
@model ECOCEANO.Views.Home.CreaturaDetalles4Model
@{
}



<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>TheEvent Bootstrap Template - Speaker Details</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: TheEvent - v4.7.0
    * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>


<body>

    <br />
    <br />
    <br />
    <br />

    <main id="main" class="main-page">

        <!-- ======= Speaker Details Sectionn ======= -->
        <section id="speakers-details">
            <div class="container">
                <div class="section-title">
                    <h3>Informe de criatura</h3>
                    <p>Especie Marina</p>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <img src="~/Img/ballena1.png" alt="Speaker 1" class="img-fluid">
                    </div>

                    <div class="col-md-6">
                        <div class="details">
                            <h2>Ballena Azul</h2>

                            <p>
                                Con un tamaño que va de 24 hasta 30 metros y un peso de alrededor de 173
                                <br />toneladas, la ballena azul se encuentra en la cima de la cadena alimenticia
                                <br />con un papel importante para mantener el balance de los ecosistemas marinos.
                            </p>

                            <p>
                                La especie también ha sufrido un descenso en su población debido a la
                                <br />pesca comercial excesiva, a pesar de que ésta fue prohibida a partir de 1966.
                                <br />De acuerdo con un reporte de 2016 de la Unión Internacional para la Conservación
                                <br />de la Naturaleza (UICN), se estima que hay entre 10 mil a 25 mil ejemplares.
                                </p>
                          <p>
                                Entre los meses de enero y marzo, este mamífero, catalogado como el más
                                <br />grande del planeta llega a las aguas del Parque Nacional Bahía de Loreto en
                                <br />Baja California Sur para reproducirse y tener a sus crías.
                            </p>


                        </div>
                    </div>

                </div>
            </div>

        </section>

    </main><!-- End #main -->
    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>