@page
@model ECOCEANO.Views.Home.CreaturaDetalle3Model
@{
}

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>TheEvent Bootstrap Template - Speaker Details</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: TheEvent - v4.7.0
    * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>


<body>

    <br />
    <br />
    <br />
    <br />

    <main id="main" class="main-page">

        <!-- ======= Speaker Details Sectionn ======= -->
        <section id="speakers-details">
            <div class="container">
                <div class="section-title">
                    <h3>Informe de criatura</h3>
                    <p>Especie Marina</p>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <img src="~/Img/Totoaba1.png" alt="Speaker 1" class="img-fluid">
                    </div>

                    <div class="col-md-6">
                        <div class="details">
                            <h2>Totoaba </h2>

                            <p>
                                Localizada en el norte del Golfo de California de México, este pez enfrenta desde
                                <br /> hace décadas una dura caza furtiva porque su buche es enormemente codiciado en
                                <br /> China, donde se le atribuyen capacidades afrodisíacas y medicinales.
                            </p>
                            <p>
                                Su pesca supone el sustento principal de muchos habitantes de pueblos del Alto
                                <br />Golfo de California, como San Felipe o Puerto Peñasco Sonora.
                            </p>

                            <p>
                                El precio que pagan los intermediarios asiáticos a los pescadores mexicanos por un
                                <br /> kilo de vejiga o buche es de entre 500 a 2,000 dólares.
                            </p>


                        </div>
                    </div>

                </div>
            </div>

        </section>

    </main><!-- End #main -->
    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

