@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= Hero Section ======= -->

<br />
<br />
 <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
      <h1>TECNO IERF</h1>
      <h2>Creando mundos virtuales</h2>
      <a asp-area="" asp-controller="Home" asp-action="QuienesSomos" class="btn-get-started scrollto">Explorar</a>
    </div>
  </section><!-- End Hero -->

<main id="main">

</main>