@model Usuarios
@{
    ViewData["Title"] = "Inicio Sesion";
}








<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="wrapper">
    <form class="login">
        <p class="title">Iniciar Sesión</p>
        <input type="text" placeholder="Username" autofocus />
        <i class="fa fa-user"></i>
        <input type="password" placeholder="Password" />
        <i class="fa fa-key"></i>
        <a href="#">Forgot your password?</a>
        <button>
            <i class="spinner"></i>
            <span class="state">Log in</span>
        </button>
    </form>
    <footer><a target="blank" href="http://ecoceano.com">Ecocéano</a></footer>
</div>

<link rel="stylesheet" href="~/css/Login.css" />
<script src="~/js/Loginn.js"></script>