
@{
    ViewData["Title"] = "QuienesSomos";
}



<br />
<br />
<br />
<br />

<div class="container-fluid text-center">
</div>

<section class="section section-sm section-first bg-default text-md-left">
    <div class="container">
        <div class="row row-50 align-items-center justify-content-center justify-content-xl-between">
            <div class="col-lg-6 text-center wow fadeInUp">
                <img src="~/Img/QS_IMAG.png" alt="" width="500" height="500" />
            </div>
            <div class="col-lg-6 wow fadeInRight" data-wow-delay=".1s">
                <div class="box-width-lg-470">
                    <div class="section-title">
                        <h3>¿Quiénes somos?</h3>

                    </div>
                    <!-- Bootstrap tabs-->
                    <div class="tabs-custom tabs-horizontal tabs-line tabs-line-big tabs-line-style-2 text-center text-md-left" id="tabs-7">
                        <!-- Nav tabs-->
                        <ul class="nav nav-tabs">
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-7-1" data-toggle="tab"><h4>Nuestra Empresa</h4></a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-7-2" data-toggle="tab"><h4>Visión</h4></a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-7-3" data-toggle="tab"><h4>Misión</h4></a></li>
                        </ul>
                        <!-- Tab panes-->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tabs-7-1">
                                <h5>
                                    TECNO IERF es una empresa que desea fomentar el valor al cuidado de la
                                    <br />vida marina para perservar los ecosistemas y ayudar a disminuir la
                                    <br /> contaminación a rios y mares.
                                </h5>
                                <!--   <div class="group-md group-middle"><a class="button button-secondary button-pipaluk" href="contact-us.html">Get in Touch</a><a class="button button-black-outline button-md" href="about.html">Read More</a></div> -->
                            </div>
                            <div class="tab-pane fade" id="tabs-7-2">
                                <h5>
                                    Identificarnos como la mejor empresa desarrolladora de aplicaciones de
                                    <br />Realidad Virtual en el estado de Veracruz, asi como también ofrecer y
                                    <br />garantizar al cliente las mejores aplicaciones que destaquen por su
                                    <br />facilidad de uso y que la sociedad vea la eficacia de este tipo de tecnología.
                                </h5>
                                <!--   <div class="group-md group-middle"><a class="button button-secondary button-pipaluk" href="contact-us.html">Get in Touch</a><a class="button button-black-outline button-md" href="about.html">Read More</a></div>-->
                            </div>
                            <div class="tab-pane fade" id="tabs-7-3">
                                <h5>
                                    Crear aplicaciones de Realidad Virtual que satisfagan y respondan a las
                                    <br />necesidades del cliente, basándonos en nuestros valores empresariales y
                                    <br /> ofreciendo la mejor experiencia con esta tecnología para que cualquier
                                    <br />persona sin distinción alguna pueda acceder a ella.
                                </h5>
                                <!--    <div class="group-md group-middle"><a class="button button-secondary button-pipaluk" href="contact-us.html">Get in Touch</a><a class="button button-black-outline button-md" href="about.html">Read More</a></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
